.about-sec1 {
  padding: 120px 32px;
  background: #ECF1F7;
}

.about-title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 120px;
  font-weight: 600;
}

.about-title span,
.highlight {
  color: #d58b1f;
  font-weight: 700;
}

.timeline-wrapper {
  position: relative;
  max-width: 900px;
  margin: auto;
}

.timeline-wrapper::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background: #121111;
  z-index: 0;
  top: 15px;
  bottom: 400px;
}

.timeline-item {
  display: grid;
  grid-template-columns: 5fr 70px 5fr;
  align-items: start;
  margin-bottom: 120px;
  position: relative;
}

.timeline-dot {
  width: 30px;
  height: 30px;
  background: #d58b1f;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.timeline-content {
  max-width: 340px;
}

.timeline-item:nth-child(odd) .timeline-content {
  text-align: left;
  justify-self: end;
  padding-right: 5px;
}

.timeline-item:nth-child(even) .timeline-content {
  text-align: right;
  justify-self: start;
  padding-left: 5px;
}

.timeline-content h3 {
  font-size: 26px;
  margin-bottom: 18px;
  font-weight: 600;
}

.timeline-content p {
  font-size: 17px;
  line-height: 1.7;
  color: #555;
}

.timeline-image {
  width: 260px;
  min-height: 420px;
  background: #d58b1f;
  border-radius: 20px;
}

.timeline-item:nth-child(1) .timeline-image,
.timeline-item:nth-child(3) .timeline-image {
  justify-self: end;
}

.timeline-item:nth-child(2) .timeline-image {
  justify-self: start;
}

/* Tablet + Mobile */

@media (max-width: 1024px) {

  .timeline-wrapper::before {
    left: 24px;
    transform: none;
    top: 15px;
    bottom: 120px;
  }

  .timeline-item {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: start;
    row-gap: 20px;
    margin-bottom: 120px;
  }

  .timeline-dot {
    grid-column: 1;
    grid-row: 1;
    margin: 6px 0 0 0;
    justify-self: center;
  }

  .timeline-content {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    text-align: left !important;
    max-width: 100%;
  }

  .timeline-image {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    width: 80%;
    max-width: 380px;
    min-height: 360px;
    justify-self: start;
  }

  .timeline-item:nth-child(1) .timeline-image,
  .timeline-item:nth-child(2) .timeline-image,
  .timeline-item:nth-child(3) .timeline-image {
    justify-self: start;
  }

  .timeline-content h3 {
    font-size: 24px;
  }

  .timeline-content p {
    font-size: 16px;
  }
}

@media (max-width: 600px) {

  .about-sec1 {
    padding: 80px 20px;
  }

  .about-title {
    font-size: 30px;
    margin-bottom: 80px;
  }

  .timeline-wrapper::before {
    left: 20px;
    top: 15px;
    bottom: 470px;
  }

  .timeline-item {
    grid-template-columns: 40px 1fr;
  }

  .timeline-dot {
    width: 22px;
    height: 22px;
    margin-top: 4px;
  }

  .timeline-content h3 {
    font-size: 20px;
  }

  .timeline-content p {
    font-size: 14px;
  }

  .timeline-image {
    width: 90%;
    min-height: 300px;
  }
}
