.gallery-wrapper {
  width: 100%;
  padding: 120px 0;
}

.gallery-section {
  text-align: center;
  margin-bottom: 140px;
}
.poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

/* Title */
.gallery-title {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 80px;
  display: inline-block;
  position: relative;
}

.gallery-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  width: 240px;
  height: 1px;
  background: black;
}

/* Cards Layout */

.cards-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 100px;
}

/* Cards */

.card {
  background-color: #F5A40C;
  border-radius: 18px;
  width: 320px;
  height: 480px;

  transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1),
              box-shadow 0.35s ease;
}

/* Hover Effect */
.card:hover {
  transform: translateY(-25px);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.25);
}
