.home-services {
  padding: 100px 32px;
  background:#ECF1F7;
  text-align: center;
}

.services-title {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111;
}

.services-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; 
  max-width: 1100px;
  margin: 0 auto;
}


.services-column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.service-pill {
  background: #111;
  color: #F5A40C;
  padding: 14px 28px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 500;
  min-width: 210px;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.service-pill:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


.services-image {
  margin-top: -40px; 
}

.services-image img {
  width: 320px;
  max-width: 100%;
}



@media (max-width: 1024px) {
  .services-container {
    gap: 20px;
  }

  .services-image img {
    width: 260px;
  }
}

@media (max-width: 768px) {


  .services-title {
    font-size: 30px;   
    margin-bottom: 30px;
  }

  .services-container {
    flex-direction: column;
    gap: 40px;
  }

  .services-column {
    gap: 20px;
    margin-top: 20px;   
  }

  .services-image {
    margin-top: 0;
  }

  .service-pill {
    min-width: 200px;
    font-size: 16px;  
  }
}
