/* ================= FONTS ================= */

@font-face {
  font-family: 'Poppins';
  src: url('../../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

/* WHY SECTION */

.why-wrapper {
  width: 100%;
  padding: 120px 0;
}

.why-section {
  width: 85%;
  margin: auto;
  text-align: center;
}

.why-title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 100px;
}

.why-title span {
  color: #F5A40C;
}

/* CARDS LAYOUT */

.why-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 100px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}


/* CARD */

.why-card {
  background: #000;
  width: 320px;
  padding: 25px 40px 80px;
  border-radius: 26px;
  text-align: center;
  transition: all 0.35s ease;
}

.why-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.35);
}

/* ICON */

.why-icon {
  width: 160px;
  height: 160px;
  margin: 0 auto 18px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.why-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* TEXT */

.why-card h3 {
  font-size: 28px;
  color: #F5A40C;
  margin-bottom: 22px;
  font-weight: 600;
}

.why-card p {
  font-size: 17px;
  line-height: 1.9;
  color: #dcdcdc;
}

/* TABLET */

@media (max-width: 992px) {

  .why-title {
    font-size: 42px;
    margin-bottom: 70px;
  }

  .why-container {
    gap: 35px;
  }

  .why-card {
    width: 280px;
    padding: 25px 30px 60px;
  }

  .why-icon {
    width: 120px;
    height: 120px;
  }

  .why-card h3 {
    font-size: 24px;
  }

  .why-card p {
    font-size: 15px;
  }
}

/* MOBILE */

@media (max-width: 600px) {

  .why-section {
    width: 90%;
  }

  .why-title {
    font-size: 32px;
    margin-bottom: 50px;
  }

  .why-container {
    gap: 25px;
  }

  .why-card {
    width: 100%;
    padding: 30px 25px 50px;
    border-radius: 22px;
  }

  .why-icon {
    width: 90px;
    height: 90px;
  }

  .why-card h3 {
    font-size: 22px;
  }

  .why-card p {
    font-size: 14px;
    line-height: 1.7;
  }
}
