.explore-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 130px 100px;
  background: #ECF1F7;
  gap: 60px;
  height:600px;
}
.bold{
   display: inline-block;
  
  background: #ECF1F7;
  padding: 10px 25px;
  border-radius: 20px;

}
.highlight {
  display: inline-block;
  margin-left: 80px;
  background: #ECF1F7;
  padding: 10px 25px;
  border-radius: 20px;
}
.bold2{
  display: inline-block;
  margin-left: 40px;
  background: #ECF1F7;
  padding: 10px 25px;
  border-radius: 20px;

}

/* LEFT */
.explore-left {
  width: 55%;
  left:50px;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 0px;
  left: 100px;   /* move INTO image area */
  z-index: 3;
 
  border-radius: 25px;
  max-width: 520px;
}
.heading-bg {
  display: inline-block;
  
  border-radius: 25px;
  top:80px;
}


.hero-text h1 {
  font-size: 50px;
  line-height: 1.05;
}



.bold {
  font-weight: 700;
}

.highlight {
  color: #F4A300;
}

.hero-text p {
  
  margin: 25px 0;
  max-width: 400px;
  color: #000000;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.primary-btn {
  background: #F4A300;
  color:white;
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}

.secondary-btn {
  background: whitesmoke;
  border: 1px solid #333;
  padding: 12px 28px;
  border-radius: 30px;
  cursor: pointer;
}

/* HERO IMAGE */
.hero-image {
 position: relative;
  margin-left: 200px;
   width: 490px;
  height: 570px;
}

.hero-main-img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  left:135px;
  top:-100px;
  border-radius: 30px;
  position: relative;
  z-index: 1;
}




/* GLASS CARD */
.glass-card {
  position: absolute;
  bottom: 60px;
  right: 20px;
  width: 260px;
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  background: rgba(255,255,255,0.2);
}


.glass-card img {
  
  width: 120px;
}

/* RIGHT SIDE */
.explore-right {
  width: 40%;
  position: relative;
  top: -70px; 
  margin-top: 40px;
}

.explore-right h2 {
  position: relative;
  line-height: 1.0;
  top: -70px; 
  margin-top:0px;
  left:50px;
  font-size: 48px;
}

.right-sub {
  
  margin: 20px 0 40px;
  position: absolute;
  top: 30px;   /* adjust until perfect */
  left: 50px;
  color: #000000;
  line-height:1.5;
  max-width: 350px;
}

.offer-card {
  position: relative;
  top: 50px;
  width: 260px;
  left:50px;
}

.offer-card img {
  top: -70px;
  width: 100%;
  border-radius: 30px;
}


/* SMALL GLASS */
.small-glass {
  
  bottom: 20px;
  left: 20px;
  width: 240px;
  padding: 18px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  background: rgba(255,255,255,0.2);
  color: white;
}

.community-tag {
  height:35px;
  width:120px;
  position:absolute;
  top:32%;
  left: 62px;
  
}
.mentality-tag {
  position: absolute;
  bottom: 140px;
  right: -10px;
  width: 120px;
  z-index: 20;
}         


