/* Outer spacing */
.nav-wrapper {
  padding: 40px 0;
  background: #ECF1F7;
}

/* Center alignment */
.nav-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

/* Logo */
.nav-logo {
  width: 60px;   
  height: 100px;
}

/* Rectangle navbar */
.nav-container {
  width: 1105px;
  height: 59px;
  background: #ffffff;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  border: 1px solid #e6e6e6;
}

/* Links */
.nav-link {
  text-decoration: none;
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 22px;
  border-radius: 30px;
  transition: 0.3s ease;
}

/* Active */
.nav-link.active {
  background: #F5A40C;
  color: #1d1b1b;
}
