.nav-wrapper {
  padding: 50px 0;
  background: #ECF1F7;
}

.nav-content {
  max-width: 1300px; 
  margin: auto;
  display: flex;
  align-items: center;
  gap: 60px;
}


.nav-logo {
  width: 75px;
  height: auto;
}


.nav-container {
  width: 1200px;  
  height: 75px;   
  background: #ffffff;
  border-radius: 18px; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px; 
  border: 1px solid #e6e6e6;
}

/* Nav Links */
.nav-link {
  text-decoration: none;
  color: #6c6c6c;
  font-size: 18px;   
  font-weight: 600;  
  padding: 12px 26px; 
  border-radius: 40px;
  transition: 0.3s ease;
}

.nav-link.active {
  background: #F5A40C;
  color: #1d1b1b;
}

.hamburger {
  display: none;
}
.mobile-menu {
  display: none;
}

@media (max-width: 1024px) {

  .nav-content {
    justify-content: space-between;
    padding: 0 20px; 
  }


  .nav-container {
    display: none;
  }


  .brand {
    display: flex;
    align-items: center;
    gap: 10px;
  }

 
  .brand-name {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color:#d58b1f;
  }

 
  .nav-logo {
    width: 75px;
    height: auto;
  }

 
 
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .hamburger span {
    width: 25px;
    height: 3px;
    background: #1d1b1b;
    border-radius: 2px;
  }

  .mobile-menu {
    display: none;
    flex-direction: column;
    background: #ffffff;
    padding: 20px;
    gap: 20px;
    border-top: 1px solid #e6e6e6;
  }

  .mobile-menu.open {
    display: flex;
  }

  .mobile-menu a {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 16px;
  }

  .mobile-menu a.active {
    color: #F5A40C;
    font-weight: 600;
  }
}
